.form-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    /* Yellow shadow */
    padding: 2rem;
    margin-bottom: 15%;
    margin-top: 1%;
}

#contact {
    margin-top: 2%;
}

textarea .user {
    height: 8rem;
    /* Adjust the height as needed */
    width: 20rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #5bb462;
    border-radius: 8px;
    font-size: 16px;
}

.c-right {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    height: 340px;
}

.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #5bb462;
    border-radius: 8px;
    font-size: 16px;
}

textarea {
    height: 4rem !important;
    padding-top: 10px;
}

.c-blur1 {
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form {
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user {
        width: 16rem;
    }
}